html { 
  background: url('coffee_background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text {
	text-align: center;
	position: absolute;
	top: 20%;
	left: 35%;
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 70px;
	text-align: center;
}

h3 {
	font-family: 'Roboto', sans-serif;
}