@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	line-height:1.3;
	color:#333;
}
/** the hero image **/

#intro {
	background: url("images/mainphoto.jpg");
	background-size: cover;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5em 0 0;
}
.nav-logo {
	float:left;
	width: 15em;
}
nav {
	float:right;
}
nav a {
	display: inline-block;
	color: #ED242F;
	font-family: 'Roboto Slab', serif;
	padding:1em;
}

.hero-text {
	text-align: center;
	margin: auto;
	color: #1561AD;
	/** border: solid 2px #1561AD; **/
	font-weight: 900;
}
.cta {
	background-color: #1561AD;
	color: white;
	padding: 20px;
	margin-top: 20px;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.24), 3px 3px 5px rgba(0,0,0,0.19);
}
